body {
	margin: 0px;
	overflow-x: hidden;
}
 @font-face {
    font-family: Gotham-Bold; 
    src: url(fonts/Gotham-Bold.otf); 
   }
.exp {
	position: relative;
	border: 0.1875vw solid white;
	border-radius: 100vw;
	bottom:1vw;
	width: 3.9375vw;
	height: 3.9375vw;
	z-index: 100;
	display: none;
	margin-left: 48vw;
	margin-top: 45vw;
	background-image: url(../img/st.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.125vw 0.8125vw;  
}
.exp1 {
	position: relative;
	border: 0.1875vw solid white;
	border-radius: 100vw;
	bottom:1vw;
	width: 3.9375vw;
	height: 3.9375vw;
	z-index: 100;
	display: none;
	margin-left: 48vw;
	margin-top: 42vw;
	background-image: url(../img/st.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.125vw 0.8125vw; 
}
.exp2 {
	position: relative;
	border: 0.1875vw solid white;
	border-radius: 100vw;
	bottom:1vw;
	width: 3.9375vw;
	height: 3.9375vw;
	z-index: 100;
	display: none;
	margin-left: 48vw;
	margin-top: 52vw;
	background-image: url(../img/st.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.125vw 0.8125vw; 
}
.exp3 {
	position: relative;
	border: 0.1875vw solid white;
	border-radius: 100vw;
	bottom:1vw;
	width: 3.9375vw;
	height: 3.9375vw;
	z-index: 100;
	display: none;
	margin-left: 48vw;
	margin-top: 59vw;
	background-image: url(../img/st.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.125vw 0.8125vw; 
}
.exp4{
	position: relative;
	border: 0.1875vw solid white;
	border-radius: 100vw;
	bottom:1vw;
	width: 3.9375vw;
	height: 3.9375vw;
	z-index: 100;
	display: none;
	margin-left: 48vw;
	margin-top: 71vw;
	background-image: url(../img/st.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.125vw 0.8125vw;  
}
.exp5 {
	position: relative;
	border: 0.1875vw solid white;
	border-radius: 100vw;
	bottom:1vw;
	width: 3.9375vw;
	height: 3.9375vw;
	z-index: 100;
	display: none;
	margin-left: 48vw;
	margin-top: 55vw;
	background-image: url(../img/st.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.125vw 0.8125vw;  
}
.exp6 {
	position: relative;
	border: 0.1875vw solid white;
	border-radius: 100vw;
	bottom:1vw;
	width: 3.9375vw;
	height: 3.9375vw;
	z-index: 100;
	display: none;
	margin-left: 48vw;
	margin-top: 49vw;
	background-image: url(../img/st.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.125vw 0.8125vw;
	transform: rotate(180deg);
}
.he {
	background-image: url("../img/Layer96.png");
	width: 100vw;
	height:55vw;
	background-size: 100vw 60vw;
	float: left;
}
.top {
	width: 100vw;
	height: 7.25vw;
	border-bottom: 1px solid #797979;
	clear: left;
	float: left;
}
.logo {
	height: 4.6875vw;
	width:  4.9375vw;
	background-image: url("../img/Logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 13.375vw;
	margin-top: 1.375vw;
	float: left;
}
.first {
	margin-left: 13vw;
	margin-top: 3.5vw;
/*	width: 3.75vw; */
	height:3.45vw;
	float: left;
	color: #eee;
	text-align: center;
	font-size: 0.85vw;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}
.first:hover {
	border-bottom: #11749e 0.375vw solid;
}
.second:hover {
	border-bottom: #11749e 0.375vw solid;
}
.second {
	margin-left: 2.375vw;
	margin-top: 3.5vw;
/*	width: 4.3vw; */
	height:3.45vw;
	float: left;
	color: #eee;
	font-size: 0.85vw;
	text-align: center;
	font-family: 'Montserrat', cursive;
	font-weight: 900;
}
.third {
	margin-left: 2.375vw;
	margin-top: 3.5vw;
/*	width: 4.3vw; */
	height:3.45vw;
	float: left;
	color: #eee;
	font-size: 0.85vw;
	text-align: center;
	font-family: 'Montserrat', cursive;
	font-weight: 900;
}
.third img {
	float: left;
	margin-left: 1vw;
	width: 1.125vw;
	height:  1.125vw;
}
.third img:hover {
	border-bottom: #11749e 0.375vw solid;
}
.slash {
	float: left;
	width: 100vw;
	height: 17vw;
	clear:both;
}
.text1 {
	height :30.5625vw;
	width: 100vw;
	text-align: center;
	float: left;
}
.crea {
	font-family: 'Gotham-Bold',sans-serif;
	color: white;
	text-align: center;
	font-size: 9vw;
	font-weight: 700;

}
.stext {
	font-family: 'Gotham-Bold',sans-serif; 
	letter-spacing: 1vw;
	font-size: 1.4vw;
	font-weight: 700;
	color: #275972;
}
.agency {
	width: 100vw;
	height: 46.25vw;
	float: left;
	background-color: #11749e;
	text-align: center;
}
.w{
	font-size: 11.125vw;
	color: #5993b2;
	font-family: 'Gotham-Bold',sans-serif; 
	font-weight: 700;
	position: absolute;
	top:60.25vw;
	left:44.375vw;
}
.we {
	position: absolute;
	top: 65.75vw;
	font-weight: 700;
	font-size: 2.525vw;
	font-family: 'Gotham-Bold',sans-serif;
	color: #eee;
	left: 30.75vw;
}
.slash1 {
	float: left;
	width: 100vw;
	height: 21.5vw
}
.fbl {
	width: 16.875vw;
	height: 17.25vw;
	float: left;
	margin-left:13.375vw; 
	text-align: center;
}
.sbl {
	width: 16.875vw;
	height: 17.25vw;
	float: left;
	margin-left:1.875vw; 
	text-align: center;
}
.cen1 {
	width: 8.3125vw;
	height: 8.3125vw;
	border-radius: 100%;
	margin-right:4.375vw;
	background-color: #2e85aa;
	margin-left:4.375vw;
	background-image: url(../img/copy.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 2.125vw 2.125vw;
	float: left;
}
.cen2 {
	width: 8.3125vw;
	height: 8.3125vw;
	border-radius: 100%;
	background-color: #2e85aa;
	margin-left:4.375vw;
	margin-right:4.375vw;
	background-image: url(../img/copy.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 2.125vw 2.125vw;
	float: left;
}
.cen3 {
	width: 8.3125vw;
	height: 8.3125vw;
	border-radius: 100%;
	background-color: #2e85aa;
	margin-left:4.375vw;
	margin-right:4.375vw;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: center;  
	background-size: 2.125vw 2.125vw;
	float: left;
}
.cen4 {
	width: 8.3125vw;
	height: 8.3125vw;
	border-radius: 100%;
	background-color: #2e85aa;
	margin-left:4.375vw;
	margin-right:4.375vw;
	background-image: url(../img/says.png);
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 2.125vw 2.125vw;
	float: left;
}
.blt {
	font-weight: 700;
	font-size: 1vw;
	font-family: 'Gotham-Bold',sans-serif;
	color: #eee;
	text-align: center;
}
.blts {
	font-size: 1vw;
	font-family: 'Gotham-Bold',sans-serif;
	color: #eee;
	line-height: 1;
	float: left;
	margin-top: 2vw;
}
.newsroom {
	float: left;
	width: 100vw;
	height: 56vw;
}
.news1, .news2, .new1, .new2 {
	float: left;
	width: 50vw;
	height: 28vw;
}
.new1 {
	background-color: #222222;
}
.new2 {
	background-color: #f3f3f3;
}
.news1 {
	background-image: url(../img/news1.png);
	background-size: 50vw 28vw; 
}
.news2 {
	background-image: url(../img/news2.png);
	background-size: 50vw 28vw; 
}
.ptext {
	float:left;
	width: 30vw;
	height: 16.875vw;
	margin-top:4.375vw;
	margin-left: 13.125vw; 
}
.date {
	float: left;
	font-size: 1vw;
	margin-top: 1vw;
	font-family: 'Gotham-Bold',sans-serif;
	color: #eee;
	font-weight: 700;
	clear: both;
}
.tag {
	margin-top: 1vw;
	font-size: 2vw;
	float: left;
	font-family: 'Gotham-Bold',sans-serif;
	color: #eee;
	font-weight: 900;
	clear: both;
}
.date1 {
	float: left;
	font-size: 1vw;
	margin-top: 1vw;
	font-family: 'Gotham-Bold',sans-serif;
	color: #000;
	font-weight: 700;
	clear: both;
}
.tag1 {
	clear: both;
	margin-top: 1vw;
	font-size: 2vw;
	float: left;
	font-family: 'Gotham-Bold',sans-serif;
	color: #000;
	font-weight: 900;
}
.blog {
	height: 63.5vw;
	width: 100vw;
	float: left;
	background-color: #fff; 
}
.b {
	font-size: 11.125vw;
	color: #e2e2e2;
	font-family: 'Gotham-Bold',sans-serif; 
	font-weight: 700;
	position: absolute;
	top:164.4375vw;
	left:44.375vw;
}
.let {
	position: absolute;
	top: 169vw;
	font-weight: 700;
	font-size: 2.525vw;
	font-family: 'Gotham-Bold',sans-serif;
	color: #222222;
	left: 40.9vw;
}
.slash2 {
	height: 19vw;
	width: 100vw;
	float: left;
}
.btext {
	float: left;
	text-align: center;
	width: 100vw;
	height: 6.56vw;
	font-family: 'Gotham-Bold',sans-serif;
	font-size: 2vw;
	font-weight: 600;
}
.mainbl {
	float: left;
	width: 100vw;
	height: 37.9vw;
}
.firstbl {
	height: 31.25vw;
	width: 17vw;
	float: left;
	margin-left:13.375vw;
}
.secondbl {
	height: 31.25vw;
	width: 17vw;
	float: left;
	margin-left:1.68vw;
}
.png1 {
	background-image: url(../img/1.png);
	background-size: 17vw 17vw;
	width:17vw ;
	height:17vw;
	float: left;
	background-repeat: no-repeat;
}
.png2 {
	background-image: url(../img/2.png);
	background-size: 17vw 17vw;
	width:17vw ;
	height:17vw;
	float: left;
	background-repeat: no-repeat;
}
.png3 {
	background-image: url(../img/3.png);
	background-size: 17vw 17vw;
	width:17vw ;
	height:17vw;
	float: left;
	background-repeat: no-repeat;
}
.slash3 {
	height: 3.125vw;
	width:17vw;
	float: left;
}
.bltext	{
	font-weight: 700;
	font-size: 1.1vw;
	font-family: 'Gotham-Bold',sans-serif;
	color: #11749e;
	text-align: center;
	width: 17vw;
	float:left;
	height: 11.2vw;
}
.bltext span {
	color: #000;
	font-weight: 500;
}
.startm {
	width: 100vw;
	float: left;
	height: 22.25vw;
}
.mobile {
	float: left;
	width: 100vw;
	height: 75.25vw;
	background-color: #11749e; 
}
.slash4 {
	height: 7vw;
	width:100vw;
	float: left;
}
.firstm {
	height: 5.625vw;
	width: 34.56vw;
	float: left;
	margin-left:13.56vw;
}
.secondm {
	height: 5.625vw;
	width: 34.56vw;
	float: left;
	margin-left:3.81vw;
}
.pngm {
	width: 6.125vw;
	height:4.375vw;
	float: left;
	background-image: url(../img/copy.png);
	background-size: 4.375vw 4.375vw;
	background-repeat: no-repeat;
}
.textm {
	float: left;
	width: 28.43vw;
	height: 5.625vw;
	font-size: 1.1vw;
	font-family: 'Gotham-Bold',sans-serif;
	color: #fff;
}
.bodym {
	width: 100vw;
	height: 53.125vw;
	float: left;
	background-image: url(../img/bodym.png);
	background-repeat: no-repeat;
	-webkit-background-size: ;
	background-size: 100vw 53.125vw;
}
.mainm {
	width: 29.6875vw;
	height: 23.5625vw;
	margin-left: 14.0625vw;
	margin-top:14.374vw;
}
.textm1 {
	font-size: 2vw;
	font-family: 'Gotham-Bold',sans-serif;
	color: #fff;
	font-weight: 900;
	width: 29.6875vw;
	height: 3.75vw;
}
.textm2 {
	font-size: 1.1vw;
	font-family: 'Gotham-Bold',sans-serif;
	color: #fff;
	font-weight: 500;
	width: 29.6875vw;
	height: 9.625vw;
}
.linem1 {
	float: left;
	width: 23.1875vw;
	height: 2.4375vw;
	background-color: #11749e; 
}
.linem2 {
	float: left;
	margin-top:1.4375vw;
	width: 25.0625vw;
	height: 2.4375vw;
	background-color: #11749e; 
}
.linem3 {
	float: left;
	margin-top:1.4375vw;
	width: 26.8125vw;
	height: 2.4375vw;
	background-color: #11749e; 
}
.linemt {
	font-size: 1.3vw;
	font-family: 'Gotham-Bold',sans-serif;
	color: #fff;
	font-weight: 900;
	margin-top: 0.5vw;
	float: left;
	margin-left: 1.3vw;
}
.team {
	float: left;
	background-color: #fff;
	height: 58.9375vw;
	width: 100vw;
	border-bottom: 1px solid black;
}
.t {
	font-size: 11.125vw;
	color: #e2e2e2;
	font-family: 'Gotham-Bold',sans-serif; 
	font-weight: 700;
	position: absolute;
	top:301.75vw;
	left:44.375vw;
}
.te {
	position: absolute;
	top: 306.1875vw;
	font-weight: 700;
	font-size: 2.3vw;
	font-family: 'Gotham-Bold',sans-serif;
	color: #222222;
	left: 41.45vw;
}
.slash5 {
	float:left;
	width: 100vw;
	height: 19.375vw;
}
.headteam {
	float:left;
	width: 100vw;
	height: 6vw;
	text-align: center;
	font-family: 'Gotham-Bold',sans-serif;
	font-size: 2vw;
	font-weight: 550;
}
.mainteam {
	height:33.5625vw;
	width: 100vw;
	float: left;
}
.firstteam {
	float: left;
	margin-left:13.4375vw;
	width: 16.9375vw;
	height: 26vw;
}
.secondteam {
	float: left;
	margin-left:1.75vw;
	width: 16.9375vw;
	height: 26vw;
}
.pngteam1 {
	width: 16.9375vw;
	height: 26vw;
	background-size:16.9375vw 26vw ;
	background-image: url(../img/11.png);
	background-repeat: no-repeat;
}
.pngteam2 {
	width: 16.9375vw;
	height: 26vw;
	background-size:16.9375vw 26vw ;
	background-image: url(../img/12.png);
	background-repeat: no-repeat;
}
.pngteam3 {
	width: 16.9375vw;
	height: 26vw;
	background-size:16.9375vw 26vw ;
	background-image: url(../img/13.png);
	background-repeat: no-repeat;
}
.pngteam4 {
	width: 16.9375vw;
	height: 26vw;
	background-size:16.9375vw 26vw ;
	background-image: url(../img/14.png);
	background-repeat: no-repeat;
}
.tagname {
	width: 13.5vw;
	height: 3.3125vw;
	float: left;
	margin-top: 23.875vw;
	margin-left:1.55vw;
	background-color: #fff;
	text-align: center;
	font-size: 0.7vw;
	font-weight: 600;
	font-family: 'Gotham-Bold',sans-serif;
}
.slash6 {
	width: 13.5vw;
	height: 1vw;
	float: left;
}
.nameteam {
	width: 13.5vw;
	height: 1.45vw;
	float: left;
	text-align: center;
	color: #11749e;
	font-size: 1vw;
	font-family: 'Gotham-Bold',sans-serif;
	font-weight: 700;
}
.love {
	width: 100vw;
	height: 53.25vw;
	float: left;
	background-image: url(../img/love.png);
	background-size: 100vw 53.25vw;
	background-repeat: no-repeat;
}
.c {
	font-size: 11.125vw;
	color: #616061;
	font-family: 'Gotham-Bold',sans-serif; 
	font-weight: 700;
	position: absolute;
	top:365.5vw;
	left:44.375vw;
}
.lo {
	position: absolute;
	top: 370.4375vw;
	font-weight: 700;
	font-size: 2.3vw;
	font-family: 'Gotham-Bold',sans-serif;
	color: #FFF;
	left: 22vw;
}
.slash7 {
	height:25.125vw;
	width: 100vw;
	float: left;
}
.lbody {
	width:73.125vw;
	height: 21.875vw;
	float: left;
	margin-left: 13.4375vw;
}
.inpfir {
	width: 23.125vw;
	height: 5.5vw;
	float: left;
}
.inpsec {
	width: 23.125vw;
	height: 5.5vw;
	float: left;
	margin-left: 1.875vw;
}
.inpbody {
	width: 73.125vw;
	height: 12.375vw;
	float: left;
}
.inpfir input[type=text] {
	background-color: #00000010;
	border: 0.2vw solid #ffffff60;
	width: 22.125vw;
	height: 2.875vw;
	color: white;
	font-size: 1vw;
	padding-left: 1vw;
}
.inpsec input[type=text] {
	background-color: #00000010;
	border: 0.2vw solid #ffffff60;
	width: 22.125vw;
	height: 2.875vw;
	color: white;
	font-size: 1vw;
	padding-left: 1vw;
}
.inpbody textarea {
	background-color: #00000010;
	border: 0.2vw solid #ffffff60;
	width: 72.5vw;
	height: 9vw;
	color: white;
	font-size: 1vw;
	resize: none;
	padding-top: 0.625vw;
	padding-left: 0.625vw;
	font-family: 'Gotham-Bold',sans-serif;
}
.sbm {
	height: 4vw;
	width: 14.25vw; 
	float:left;
	margin-left: 32.25vw;
}
.sbm input[type=submit] {
	background-color: #11749e;
	border: none;
	font-family: 'Gotham-Bold',sans-serif;
	font-size: 1.5vw;
	color: white;
	padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0.95vw;
    padding-bottom: 1.3vw;
}
.map {
	float: left;
	height: 20.75vw;
	width: 100vw;
	background-image: url(../img/map.png);
	background-size: 100vw 20.75vw;
	background-repeat: no-repeat;
}
footer {
	float: left;
	height: 7.1875vw;
	width: 100vw;
	background-color: #222222;
}
.right {
	float: left;
	margin-left: 15vw;
	margin-top: 3.4375vw;
	color: white;
	font-family: 'Gotham-Bold',sans-serif;
	font-size: 0.8vw;
	font-weight: 500;  
}
.design {
	width: 12vw;
	height: 1.625vw;
	float: left;
	background-image: url(../img/design.png);
	background-size:  12vw 1.625vw;
	background-repeat: no-repeat;
	margin-left: 42.75vw;
	margin-top: 2.75vw;
}
